body {
	background-color: #fafafa;
}
.page-section {
	margin-top: 100px;
}
.title {
	font-size: 16px;
    font-weight: bold;
}
.highlight:after {
	content: " *";
	color: red;
}
.textarea-non-resize {
	resize: none;
}
.page-section-left{
	margin-top: 100px;
	background-color: #ff9e2c;
	position: absolute;
	left: 0px;
	width: 50%;
}

.page-section-right {
	margin-top: 100px;
	background-color: #b6701e;
	position: absolute;
	right: 0px;
	width: 50%;
}
	
